<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>${project.artifactId}</id>
    <name>${project.name}</name>
    <version>${project.version}</version>
    <package>${project.groupId}.${project.artifactId}</package>
    <author>Thoughtworks</author>
    <description>
        Atom feed client for Terminology registry changes
    </description>
    <activator>org.bahmni.module.terminology.Activator</activator>

    <!--<updateURL>https://example.com/modules/download/openerpatomfeedclient/update.rdf</updateURL>-->
    <!-- /Base Module Properties -->

    <require_version>${openMRSRuntimeVersion}</require_version>
    <require_modules>
        <require_module>org.bahmni.module.bahmnicore</require_module>
        <require_module>org.ict4h.openmrs.openmrs-atomfeed</require_module>
    </require_modules>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
</module>
